@font-face {
	font-family: 'HelveticaNeueCyrBold';
	src: url('../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot');
	src: url('../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyrBold/HelveticaNeueCyrBold.svg#custom_font') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SegoeUILight';
	src: url('../fonts/SegoeUILight/SegoeUILight.eot');
	src: url('../fonts/SegoeUILight/SegoeUILight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/SegoeUILight/SegoeUILight.woff') format('woff'),
		 url('../fonts/SegoeUILight/SegoeUILight.svg#custom_font') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyrLight';
	src: url('../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot');
	src: url('../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.woff') format('woff'),
		 url('../fonts/HelveticaNeueCyrLight/HelveticaNeueCyrLight.svg#custom_font') format('svg');
	font-weight: 400;
	font-style: normal;
}
