// File for scss-vars.
// For example: main colors, paddings and so on.

$gray:		#606060;
$blue:		#70cfea;
$green:		#c4d846;
$red:		#e5343b;
$yellow:	#f7cd2c;
$purple:	#8062ab;
$orange:	#fe5730;

$textGray:	#393939;
