mixin map()
	section.map#map(ng-controller="mapController")
		a(href="#map").map__hide.show#show-hide Скрыть карту
		.map__code.active#mapcode
			<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=clooUnNAL3RQT__Wb9PpOojl6HKjkFjQ&width=1260&height=470"></script>
